<div class="container">
  <%= form_tag spots_path, class: "search", method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a secret spot!"%>
  <% end %>

  <%#= simple_form_for spots_path, method: :get do |f| %>
    <%#= f.input :category, collection: @categories %>
    <%#= f.button :submit, "filter" %>
  <%# end %>
  <% @spots.each do |s|%>
    <div class="spot_card">
        <%#= image_tag spot_image_tag(s) , class: 'spot_img' %>
        <img src="https://source.unsplash.com/random" class="spot_img">
        <div class="spot_content">
          <%= link_to s.name, spot_path(s), class: 'spot_name' %>
          <p class="spot_text"><strong>Address: </strong><%= s.address%></p>
          <p class="spot_text"><strong>Category: </strong><%= s.category.capitalize%></p>
          <p class="spot_text"><strong>Rating: </strong>5</p>
        </div>

        <%= link_to '#', id: 'favorite' do %>
          <i class="far fa-heart"></i>
        <% end %>
    </div>
  <% end %>
</div>

<div class="up">
  <%= link_to spots_path(anchor: 'menu') do %>
  <i class="fas fa-arrow-up"></i>
  <% end %>
</div>