<div class="container">
  <%= form_tag spots_path, class: "search", method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a secret spot!"%>
    <%= select_tag "category", options_for_select(@categories, params[:category]), prompt: "Filter by category", class:"form-control"%>
    <%= submit_tag "Search", class: "btn btn-primary btn-margintop" %>
  <% end %>


  <% @spots.each do |spot|%>
    <div class="spot_card">
        <%#= image_tag spot_image_tag(s) , class: 'spot_img' %>
      <% if spot.photos.attached? %>
        <%= link_to spot_path(spot) do%>
          <% photo = spot.photos.sample%>
          <%= cl_image_tag photo.key, class: 'spot_img' %>
        <%end%>
      <% else %>
        <%= link_to spot_path(spot) do%>
          <%= image_tag "spot.jpg", class: 'spot_img'%>
        <%end%>
      <% end %>
        <div class="spot_content">
          <%= link_to spot.name, spot_path(spot), class: 'spot_name' %>
          <p class="spot_text"><strong>Address: </strong><%= spot.address%></p>
          <p class="spot_text"><strong>Category: </strong><%= spot.category.capitalize%></p>

          <span class="spot_text">Rating:</span>
          <% avg_rating(spot).times do %>
            <i class="fas fa-camera"></i>
          <% end %>
        </div>
        <div id="favorite">
          <%= render "favorites/add_fav", spot: spot %>
        </div>
    </div>
    <% if current_user %>
      <% if spot.user == current_user || current_user.moderator? %>
        <%= render "moderator_destroy", spot: spot %>
     <% end %>
    <% end %>
  <% end %>
</div>

<div class="up">
  <%= link_to spots_path(anchor: 'menu') do %>
  <i class="fas fa-arrow-up"></i>
  <% end %>
</div>
