<div class="container">
  <h1 class="small-text"> About this spot: </h1>
</div>

  <div class="horizontal">
    <div class="scroll">
      <% if @spot.photos.attached? %>
        <% @spot.photos.each do |photo|%>
          <%= cl_image_tag photo.key, class: 'spot_img gallery' %>
        <% end %> 
      <% else %>
        <%= image_tag "spot.jpg", class: 'spot_img gallery'%>
      <% end %>
    </div>
  </div>

  <div class="container-nomargin">

        <div class="spot_content">
          <%= link_to '#', class: 'favorite' do%>
            <i class="far fa-heart"></i>
          <% end%>
          <h3 class="spot_name spot_name-blue"><%=@spot.name%></h3>
          <p class="spot_text"><strong>Category: </strong><%= @spot.category.capitalize%></p>
          <p class="spot_text"><strong>Rating: </strong>5</p>
          <%= link_to "https://www.google.com/maps/place/#{@spot.address}/@#{@spot.latitude},#{@spot.longitude},z", class: 'info_action right', target: '_blank' do %>
            <i class="fas fa-directions"></i>
          <%end%>
          <p class="spot_text"><strong>Address: </strong><%= @spot.address%></p>

          <br>
 
          <p class="spot_name-blue">Description</p>
          <p class="spot_text"> <%= @spot.description%> </p>
           <%#= link_to '< Back to list', spots_path, class: 'btn-small' %>
        </div>

  </div>

<div class="up">
    <%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
  <%end%>
</div>


