<div class="container">
  <h1 class="small-title"> About this spot: </h1>
    <br>
    <div class="horizontal">
      <%= image_tag "spot.jpg"%>
      <%= image_tag "spot2.jpg"%>
    </div>
  <br>
  <br>
  <h3> <%= @spot.name.capitalize %> </h3>
  <p> Address: <%= @spot.address %> </p>
  <p> description: <%= @spot.description%> </p>
  <p> category: <%= @spot.category %> </p>
  <br>

  <div  class="action">
    <%= link_to 'Review', "#", class: 'btn' %>
    <%= link_to 'add to favorites', "#", class: 'btn-outline' %>
  </div>
<br>
<br>
<%= link_to 'go back', "#", class: "btn-small" %>
  </div>
</div>
