<div class="menu">
  <div class="menu_box">
  <%= link_to spots_path,class: "menu_item #{current_class?(spots_path)}" do%>
        <%= image_tag "logo.png" , class: 'menu_icon' %>
        <p class="menu_text">Secrets</p>
        <%end%>
  </div>
  <div class="menu_box">
  <%= link_to '#map', class: "menu_item" do%>
        <%= image_tag "pin.png" , class: 'menu_icon' %>
        <p class="menu_text">Map</p>
        <%end%>
  </div>
  <div class="menu_box">
    <% if user_signed_in? %>
    <%= link_to dashboard_path ,class: "menu_item #{current_class?(dashboard_path)}" do %>
    <%= image_tag "profile.png" , class: 'menu_icon' %>
    <p class="menu_text">Profile</p>
    <%end%>
    <% else %>
    <%= link_to new_user_session_path ,class: "menu_item #{current_class?(new_user_session_path)}" do%>
    <%= image_tag "profile.png" , class: 'menu_icon' %>
    <p class="menu_text">Log in</p>
    <%end%>
    <% end %>
  </div>

</div>
