<div class="container">
  <h1 class="small-text">Hello <%=@user.username.capitalize%>!</h1>
  <div class="spot_card">
    <div class="profile_content">
      <div class="profile_text">
      <p class="spot_name">Details:</p>
      <p class="spot_text"><strong>First Name: </strong><%= @user.first_name.capitalize%></p>
      <p class="spot_text"><strong>Last Name: </strong><%= @user.last_name.capitalize%></p>
      <p class="spot_text"><strong>Username: </strong><%= @user.username%></p>
      <p class="spot_text"><strong>Email: </strong><%= @user.email%></p>
      </div>
      <div class="profile_media">
        <%= user_image_tag @user, class: 'profile_pic'%>
          <%= link_to edit_user_registration_path do %>
          <i class="fas fa-edit float-right"></i>
        <% end%>
      </div>
    </div>
  </div>
</div>

<div class="horizontal">
  <h3 class="small-title">Your spots</h3>
  <% if @spots.any?%>
  <div class="scroll">
    <% @spots.each do |s|%>
    <div class="dashboard_card">
        <% if s.photos.attached? %>
          <%= link_to spot_path(s) do%>
          <% photo = s.photos.sample%>
          <%#= cl_image_tag photo.key, class: 'spot_img' %>
          <%end%>
        <% else %>
         <%= link_to spot_path(s) do%>
          <%= image_tag "spot.jpg", class: 'spot_img'%>
          <%end%>
        <% end %>

        <div class="spot_content">
          <%= link_to s.name, spot_path(s), class: 'spot_name' %>
          <p class="spot_text"><strong>Address: </strong><%= s.address%></p>
          <p class="spot_text"><strong>Category: </strong><%= s.category.capitalize%></p>
          <div>
          <span>Rating:</span>
          <% avg_rating(s).times do %>
          <div class ="icons-edit-delete-review-spot">
          <% end %>
          </div>
          <%= link_to new_spot_review_path(s) , class: 'btn-small' do %>
          <i class="fas fa-comment-medical"></i>
          <%end%>

          <%= link_to edit_spot_path(s), class: 'btn-small' do %>
          <i class="fas fa-edit"></i>
          <%end%>

          <%= link_to spot_path(s), class: 'btn-small', method: :delete, data: {confirm: 'Do you want to delete the bench?'} do %>
          <i class="fas fa-trash-alt"></i>
          <%end%>
        </div>
        </div>

        <%#= render "favorites/add_fav", spot: s %>
    </div>
  <% end%>
  </div>

  </div>
    <br>
    <p class="center">Would you like to share your spot?</p>
    <%= link_to 'Add new spot', new_spot_path(@spot), class: 'btn' %>
  </div>

  <%else%>
    <p class="center">You don't have any spot yet, wanna add one?</p>
    <%= link_to 'Add new spot', new_spot_path(@spot), class: 'btn' %>
  <%end%>
</div>

<div class="container-nomargin" id="favorites">
</div>

<div class="horizontal">
  <h3 class="small-title">Favorites</h3>
  <% if @favorites.any?%>
  <div class="scroll">
    <% @favorites.each do |s|%>
    <div class="dashboard_card">

          <% if s.spot.photos.attached? %>
            <%= link_to spot_path(s) do%>
              <% photo = s.spot.photos.sample%>
              <%= cl_image_tag photo.key, class: 'spot_img' %>
            <% end %>
            <% else %>
            <%= link_to spot_path(s) do%>
              <%= image_tag "spot.jpg", class: 'spot_img'%>
            <% end %>
          <% end %>
        <div class="spot_content">
          <%= link_to s.spot.name, spot_path(s.spot), class: 'spot_name' %>
          <p class="spot_text"><strong>Address: </strong><%= s.spot.address%></p>
          <%#= link_to "https://www.google.com/maps/place/#{s.spot.address}/@#{s.spot.latitude},#{s.spot.longitude},z", class: 'info_action right', target: '_blank' do %>
            <%# <i class="fas fa-directions"></i> %>
          <%#end%>
          <p class="spot_text"><strong>Category: </strong><%= s.spot.category.capitalize%></p>
          <div>
          <span>Rating:</span>
          <% avg_rating(s.spot).times do %>
          <i class="fas fa-camera"></i>
          <% end %>
          </div>

        </div>

          <%= render "favorites/add_fav", spot: s.spot %>
    </div>
  <% end%>
  </div>
  <%else%>
    <p class="center">You don't have any favorites, browse for secrets!</p>
    <%= link_to 'Browse', spots_path, class: 'btn' %>
  <%end%>
</div>


<div class="container center">
<p>Done with sharing secrets?
<%= link_to "Logout.", destroy_user_session_path, method: :delete, class: "btn-small" %></p>
</div>
