<div class="container">
  <h1 class="small-text">Hello <%=@user.username.capitalize%>!</h1>    
  <div class="spot_card">
    <div class="profile_content">
      <div class="profile_text">
      <p class="spot_name">Details:</p>
      <p class="spot_text"><strong>First Name: </strong><%= @user.first_name.capitalize%></p>
      <p class="spot_text"><strong>Last Name: </strong><%= @user.last_name.capitalize%></p>
      <p class="spot_text"><strong>Username: </strong><%= @user.username%></p>
      <p class="spot_text"><strong>Email: </strong><%= @user.email%></p>
      </div>
      <div class="profile_media">
        <%= user_image_tag @user, class: 'profile_pic'%>
          <%= link_to edit_user_registration_path do %>
          <i class="fas fa-edit"></i>
        <% end%>
      </div>
    </div>
  </div>
</div>

<div class="horizontal">
  <h3 class="small-title">Your spots</h3>    
  <div class="scroll">
    <% @spots.each do |s|%>
    <div class="dashboard_card">
        <%#= image_tag "https://source.unsplash.com/collections/4965742" , class: 'spot_img' %>
        <img src="https://source.unsplash.com/random" class="spot_img">
        <div class="spot_content">
          <%= link_to s.name, spot_path(s), class: 'spot_name' %>
          <p class="spot_text"><strong>Address: </strong><%= s.address%></p>
          <p class="spot_text"><strong>Category: </strong><%= s.category.capitalize%></p>
          <p class="spot_text"><strong>Rating: </strong>5</p>
        </div>

        <%= link_to '#', id: 'favorite' do%>
          <i class="far fa-heart"></i>
        <% end%>
    </div>
  <% end%>
  </div>

  </div>
    <p>Would you like to share your spot?</p>
    <%= link_to 'Add new spot', new_spot_path(@spot), class: 'btn' %>
  </div>


  <%# <h3 class="small-title">Your favorites</h3>
    <div class="scroll"> %>
    <%# @spots.each do |s|%>
    <%# <div class="spot_card"> %>
        <%#= image_tag "https://source.unsplash.com/collections/4965742" , class: 'spot_img' %>
        <%# <img src="https://source.unsplash.com/random" class="spot_img">
        <div class="spot_content"> %>
          <%#= link_to s.name, spot_path(s), class: 'spot_name' %>
          <%# <p class="spot_text"><strong>Address: </strong><%= s.address%></p>
          <%# <p class="spot_text"><strong>Category: </strong><%= s.category.capitalize%></p>
          <%# <p class="spot_text"><strong>Rating: </strong>5</p>
        </div> %>

        <%#= link_to '#', id: 'favorite' do%>
          <%# <i class="far fa-heart"></i> %>
        <%# end%>
    <%# </div> %>
  <%# end%>
  <%# </div> %>

</div>

<div class="container center">
<p>Done with sharing secrets?
<%= link_to "Logout.", destroy_user_session_path, method: :delete, class: "btn-small" %></p>
</div>