<div class="header" style="background-image: url('<%= image_path "spot.jpg" %>')">
  <div class="banner">
    <h1>Secret Spots</h1>
    <p class="effect-wrapper">Find your <span class="typed"></span><span class="cursor">&nbsp;</span></p>
  </div>
  <div class="btn">
    <%= link_to 'get started', spots_path, class: 'btn-home' %>
    <span class="emoji">👈</span>
  </div>
  <div class="signup">
    <p>Are you new?
    <%= link_to 'Signup', new_user_registration_path, class: 'btn-small' %>
    </p>
  </div>
</div>

<div class="container-home">
  <div class="text">
    <p>At Secret Spots we believe tourism should be an opportunity to experience authentic places where locals feel comfortable inviting you in their extraordinary cultures.</p>
  </div>
  <div class="main">
    <div class="single">
      <%= image_tag "undraw_adventure.png" %>
      <p>Look for authentic places and find your way to them.</p>
    </div>
    <div class="single">
      <%= image_tag "undraw_review.png" %>
      <p>Review the places you discovered through us and interact with other travelers.</p>
    </div>
    <div class="single">
      <%= image_tag "undraw_share.png" %>
      <p>Share your secrets with the rest of the world.</p>
    </div>
  </div>
</div>
