<!DOCTYPE html>
<html>
  <head>
    <title>Secretspots</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
    <% %w(16 32 96).each do |size| %>
      <%= favicon_link_tag asset_path "favicon-#{size}x#{size}.png", sizes: "#{size}x#{size}" %>
    <%end%>

    <% %w(57 60 72 76 114 120 144 152 180).each do |size| %>
    <%= favicon_link_tag "apple-icon-#{size}x#{size}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{size}x#{size}" %>
    <% end %>
    <%= favicon_link_tag "android-icon-192x192.png", type: 'image/png', sizes: "192x192" %>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <div class="sorry" style="background-image: url('<%= image_path "deadpool.jpg" %>')">
      <h3>Sorry man, can't join this party on your desktop, pull out your mobile</h3>
    </div>
  <footer>
    <div class="footer footer-top">
    <%= link_to root_path do%>
    <%= image_tag 'logo.svg'%>
    <%end%>
    <p class="claim">Stay off the beaten path</p>
    </div>
    <div class="foooter footer-bottom">
      <p class="text-white">© 2021 Secret Spots</p>
      <p class="text-white">Coded by Fabio, Alex & Susanna.</p>
    </div>
  </footer>

  </body>
  <%# <footer class="footer">
    <div class="top-footer-container">
      <div class="footer__top">
        <div class="containerfooter">
          <div class="footer__top--img">
          <%= image_tag "logo.png"%>
          <%# </div>
        <h4 class="footer__headline">Stay off the beaten path.</h4>
        </div>
      </div>
    </div> %>
  <%# <div class="footer__bottom">
    <div class="containerfooter--sm">
      <div>
      <p>© 2021 Secret Spots.</p>
      <p>Coded by Fabio, Alex & Susanna.</p>
      </div>
    </div>
  </div>
</footer> %>
</html>
